#picture1{
    position: relative;
    left: 100px;
}
#picture2{
    position: relative;
    left: 100px;
}
#chart-id{
    position: relative;
    left: 50px;
}
#chart-id2{
    position: relative;
    left: 50px;
}