#right{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 200px;
    font-family: sans-serif;
}
#left{
    position: absolute;
    right: 50px;
    top: 50px;
    width: 200px;
    font-family: sans-serif;
}
#chart-id{
    position: absolute;
    left: 50px;
    top: 400px;
}
#chart-id2{
    position: absolute;
    left: 50px;
    top: 400px;
}
#body{
    top: 200px;
    left: 50px;
    position: relative;
    font-family: sans-serif;
}
#golfHole{
    position: absolute;
    right: 50px;
    top: 500px;
    width: 800px;
    height: 500px;
}
.hole rect{
    fill: rgb(18, 199, 18);
    fill-opacity: 1;
    stroke: darkgreen;
    stroke-width: 2;
    stroke-opacity: 1;
}
.hole ellipse{
    fill: rgb(18, 199, 18);;
    fill-opacity: 1;
    stroke: darkgreen;
    stroke-width: 2;
    stroke-opacity: 1;
}
.hole circle{
    fill: red;
}
div.tooltip-hover{
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    padding: .5rem;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.2rem;
    width: 150px;
}
#golfHoleButtons{
    position: absolute;
    top: 200px;
    right: 250px;
    width: 500px;
    height: 100px;
}
#golfHoleComp{
    position: absolute;
    right: 50px;
    top: 500px;
    width: 800px;
    height: 500px;
}
.driverComp{
    position: absolute;
    top: 200px;
    left: 30px;
}
.driverDistTitle{
    position: absolute;
    top: 170px;
    left: 40px;
}
.person1{
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
    left: 30px;
}
.person1Legend{
    position: absolute;
    width: 20px;
    height: 20px;
    stroke: black;
    stroke-width: 2;
    fill: orange;
}
.person2{
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
    left: 30px;
    top: 30px;
}
.person2Legend{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    stroke: black;
    stroke-width: 2;
    fill: red;
}
.birdieComp{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 120px;
    left: 500px;
}
.birdiePerTitle{
    position: absolute;
    top: 100px;
    left: 500px;
}
.puttsComp{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 220px;
    left: 500px;
}
.puttsAvgTitle{
    position: absolute;
    top: 200px;
    left: 500px;
}
.driverTxt1{
    position: absolute;
    top: 206px;
    left: 31px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}
.driverTxt2{
    position: absolute;
    top: 288px;
    left: 31px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}
.birdiesTxt1{
    position: absolute;
    top: 125px;
    left: 501px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}
.birdiesTxt2{
    position: absolute;
    top: 155px;
    left: 501px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}
.puttsTxt1{
    position: absolute;
    top: 225px;
    left: 501px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}
.puttsTxt2{
    position: absolute;
    top: 255px;
    left: 501px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}
.scoreComp{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 320px;
    left: 500px;
}
.scoreAvgTitle{
    position: absolute;
    top: 300px;
    left: 500px;
}
.scoreTxt1{
    position: absolute;
    top: 325px;
    left: 501px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}
.scoreTxt2{
    position: absolute;
    top: 355px;
    left: 501px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
}
.form1{
    position: relative;
    width: 150px;
}
.form2{
    position: relative;
    top: 20px;
    width: 150px;
}